@media only screen and (max-width: 1032px) and (min-width: 480px){
#mobile_sec .menumobile {
    background: rgba(0, 0, 0, 0.80);
}
}
/*@media (max-width: 912px){
header.smaller .Navigation li a {
    padding: 16px 16px;
}
.Navigation {
    margin-right: -6px;
}
.Navigation li a {
    font-size: 14px;
}
}*/
