body{
background-color: rgba(128, 128, 128, 0.14);
}
header.smaller .site-logo {
margin-left: 10px;
}
header.smaller .site-logo h1 a {
    font-size: 23px;
}
header.smaller .Navigation li a {
    padding: 16px 30px;
}
.Navigation li a {
font-size: 15px;
}
footer .Cntr p {
    font-size: 15px;
    color: #FFFFFF;
}
footer .Cntr a:hover {
    color: #FFFFFF;
}
footer .Cntr a{
color: #FF9000;
}
header .Center {
    max-width: 1300px;
}
.Navigation {
    width: 75.18%;
    margin-right: 10px;
}
.page-title {
    color: #355171;
}
.page-header {
    padding-bottom: 0px;
    margin: 100px 0 20px;
    border-bottom: 1px solid #FF9000;
}
.panel-default>.panel-heading {
    background-color: rgba(240, 248, 255, 0.7);
}
.form1{
padding-left: 15px;
padding-right: 15px;
}
.form-control {
    width: 70%;
    margin-left: 40px;
}
.form1 label{
font-weight: bold;
}
 .btn-success {
    color: #fff;
    background-color: #355171;
    border-color: #355273;
    float: right;
}
.btn-success:hover{
    color: #345272;
    background-color: #FF9000;
    border-color: #FF9000;
    float: right;
}

.dropbtn {
    /*background-color: #4CAF50;*/
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 7px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #F4FAFF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.select2-container .select2-selection--single {
height: 34px;
}
.select2-container {
    margin-left: 40px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #555;
}
.select2-container--open .select2-dropdown {
    left: -40px;
    width: 270px;
}



/* ----- Footer Styling ----- */
#footer{
background-color: rgba(240, 248, 255, 0.7);
}
.footer_info{
margin-top: 20px;
margin-bottom: 20px;
font-size: 14px;
color: #777;
}
.mar-top{
margin-bottom : 20px;
font-size: 17px;
color: rgba(55, 85, 119, 0.71);
font-weight: 600;
}
#footer_explore{
margin-left: 25%;
}
.bottom-menu{
color: #777;
}
@media(max-width:991px){
  #footer_explore {
      margin-left: 0px;
  }
}
